.logoZ{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1rem;
    padding-top: 2%;
}
.zeaglionhotels{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-align: center;
}
.zeaglionquote{
    font-family: monospace;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}
.contactUsOn{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}


.social-login-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
    margin-bottom: 5%;
  }
  .social-login-icons svg {
    width: 40px;
  }
  
  .social-icon-1,
  .social-icon-1-1,
  .social-icon-2,
  .social-icon-2-2,
  .social-icon-3,
  .social-icon-3-3,
  .social-icon-4,
  .social-icon-4-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 20px 0 0px 0;
  }
  
  .icon svg {
    fill: #111;
  }
  
  .socialcontainer {
    height: 80px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0);
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  }
  .social-icon-1 svg,
  .social-icon-2 svg,
  .social-icon-3 svg,
  .social-icon-4 svg {
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
  .social-icon-1-1 {
    transition-duration: 0.4s;
    background-color: rgb(0, 0, 0, 0);
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-70px);
  }
  .socialcontainer:hover .social-icon-1 svg,
  .socialcontainer:hover .social-icon-2 svg,
  .socialcontainer:hover .social-icon-3 svg,
  .socialcontainer:hover .social-icon-4 svg {
    opacity: 1;
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-70px);
  }
  .social-icon-3 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
    background: #316ff6;
  }
  
  .socialcontainer:hover .social-icon-3 {
    transform: translateY(-70px);
  }
  .social-icon-4 {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  
    background: linear-gradient(
      180deg,
      rgba(129, 34, 144, 1) 0%,
      rgba(77, 34, 124, 1) 91%
    );
  }
  
  .socialcontainer:hover .social-icon-4 {
    transform: translateY(-70px);
  }
  



  /*footer*/


.footer {
    background: linear-gradient(rgb(244, 244, 244), rgb(251, 251, 251));
    padding: 40px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    color: rgb(0, 0, 0);
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
  }
  
  .footer-column p {
    font-family: monospace;
    font-size: large;
    color: rgb(0, 0, 0);
  }
  
  .footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-family: monospace;
    font-weight: bolder;
    color: rgb(0, 0, 0);
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: large;
    transition: color 0.3s;
  }
  
  .footer-column ul li a:hover {
    color: #4a4a4a;
  }
  
  
  .contact-info {
    margin-bottom: 10px;
  }
  
  .contact-info i {
    margin-right: 10px;
    color: rgb(0, 0, 0);
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border-top: 1px solid #e1e1e1;
    margin-top: 30px;
  }